{% extends 'base.html' %}
{% load list_item_color %}


{% block styles %}
<style>
    .banner {
        background: lightblue url("https://images.pexels.com/photos/3760778/pexels-photo-3760778.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=240&w=1260") no-repeat fixed center;
    }

    .posts {
        max-height: auto;
    }

    @media screen and (min-width: 780px){
        .posts {
            max-height: {% max_height post_list %}px;
        }
    }
</style>
{% endblock %}

{% block banner %}
<div class="banner position-relative overflow-hidden text-center bg-danger m-0 m-md-5">
    <div class="col-md-6 p-lg-5 mx-auto my-5 bg-dark">
        <h1 class="display-5 font-weight-bold text-light">Новости</h1>
    </div>
</div>
{% endblock %}

{% block content %}

<div class=" posts row px-0 flex-column overflow-hidden" >
    {% for post in post_list %}
    <div class="bg-dark text-center text-white overflow-hidden  col-12 col-md-5 p-0 mb-2 mx-auto">
        <img src="{{ post.img.url }}" alt="OMG there is no image sorry =(" width="100%">
        <div class="my-3 py-3">
            <div class="d-flex justify-content-center">
                <h2 class="post_title mr-3">{{ post.title }}</h2>
                |
                <span class='text-secondary ml-3' style='font-size: 15px;'>@{{post.owner.full_name}} </span>
            </div>
            <p class="post_description  px-3">{{ post.description|truncatewords:30 }}</p>
            <p>
                {% for tag in post.tags.all %}
                <span class="hashtag px-1">
                    #{{tag}}
                </span>
                {% endfor %}
            </p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}